<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Book</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
    </nav>

    <h1>Reade To Book</h1>    

    <h3><%=data.title%></h3>
    <h4><%=data.price%></h4>
    <h4><%=data.description%></h4>
</body>
</html>